<li id="test_suite_<%= test_suite.id %>">
  <h4 title="<%= test_suite.summary %>">
    <span>
      <%= test_suite.name %> <a href="#" class="show_menu">(<%= test_suite.test_cases.count %>)</a>
    </span>
    <ul>
      <li>
        <a href="<%= test_suite_path(@project, test_suite) %>" class="show-test-suite">
          View test suite
        </a>
      </li>
      <li>
        <a href="<%= edit_test_suite_path(@project, test_suite) %>" class="show-edit-test-suite">
          Edit test suite
        </a>
      </li>
      <li>
        <%= link_to "Delete test suite", test_suite_path(@project, test_suite), method: :delete, remote: true, confirm: "¿Está seguro que desea eliminar #{test_suite.name}?" %>
      </li>
      <li style="border-top: solid 1px #eee">
        <a href="<%= new_test_case_path(@project, test_suite_id: test_suite) %>" class="show-new-test-case">
          Create test case
        </a>
      </li>
    </ul>
  </h4>
  <ul>
    <%= render partial: 'test_cases/show', collection: test_suite.test_cases, as: :test_case, locals: { test_suite_id: test_suite.id } %>
  </ul>
</li>